@use 'abstracts/media';
@use 'base/var' as *;
@use 'mixins/neumorph';
/* MODAL */

.modal {
  display: grid;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100vw; /* Full width */ 
	height: 100vh; /* Full height */
	background-color: $paper--dark;

  &:hover {
    cursor: pointer;
  }

  .modal-table {
  	display: flex;
  	justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;

    .modal-cell {
      // @include neumorph.neumorph;
			// background-color: $paper;
      // margin: 0px 15px;
      // padding: 15px;
    	display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      @include media.desktop {
      	display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        // @include neumorph.neumorph;
        position: absolute;
        z-index: 2;

        &.icon-left {
          left: -65px;
          @media (max-width: 1000px) {
            display: none;
          }
        }

        &.icon-right {
          right: -65px;
          @media (max-width: 1000px) {
            display: none;
          }
        }

        .fa-caret-left, .fa-caret-right {
          text-align: center;
          color: $ink;
          font-size: 2rem;
        }

        &.icon-close {
          top: -40px;
          right: -25px;

          @media (max-width: 1000px) {
						top: -45px;
            right: 0;
          }

          .fa-times {
            font-size: 1.6rem;
            color: $ink;
          }
        }
      }

      /* IMAGE */
      img {
        margin-bottom: 5px;
				box-shadow: 3px 3px 6px $paper--dark, -3px -3px 15px $paper--light;
        border-radius: $border-radius;

        @include media.mobile {
          height: 35vh;
        }

        @include media.desktop {
          width: 350px;
        }
      }

      /* MODAL TEXT */
      .caption { 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: auto;
        max-height: 40vh;
        width: 80vw;
        max-width: 550px;
        overflow-y: auto;

        @media (min-width: 1000px) {
          margin-left: 10px;
          width: 450px;
        }

        h2, h3, h4, p {
          // display: block;
          margin: 6px 0px 6px;
        	text-align: left;
        	color: $ink;
        }

        .modal__subtitle {
          font-weight: 200;
        }

        .modal__author {
          font-weight: 400;
        }
        
        .grade {
          // opacity: 0.6;
        }

        .modal__genre {
          font-style: italic;
          color: $ink--dry;
        }
       
        .modal__quote {
          font-style: italic;
          color: $ink--dry;
        }
      }
    }
  }
}
