@use 'abstracts/media' as *;
@use 'base/var' as *;

.modal {
    position: fixed; /* Stay in place */
    display: flex;
    align-items: center;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
	background-color: $paper;

    &.hidden {
        display: none;
    }

    &:hover {
        cursor: pointer;
    }

    .modal-table {
    	width: 100vw;
        position: relative;

        @include desktop(medium) {
                width: 80vw;
                margin-left: 10vw;
        }

        .slick-arrow {
            color: $ink;

            &:before {
                color: $primary;
            }
        }

        .slick-prev, .slick-next {
            background-color: transparent !important;
            z-index: 2;
            display: none;

            @include desktop(medium) {
                display: block;
            }

            &:before {
                font-size: 2.2rem;
            }
        }

        .slick-prev {
            left: 0;
        }

        .slick-next {
            right: 0;
        }

        .icon {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            color: $ink;
            z-index: 2;
            border-radius: 50%;
            opacity: 1;
            transition: opacity .25s;
            z-index: 1;

            &:hover {
                opacity: .8;
                transition: opacity .25s;
            }

            &.icon-close {
                top: 15px;
                right: 20px;
                

                @include desktop(medium) {
                    top: 50px;
                    right: -10px;
                }

                .fa-times {
                    font-size: 2rem;
                }
            }
        }

        .modal-cell {
            position: relative;
        	display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0px 15px;
            height: 100vh;

            @include desktop(medium) {
            	display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            img {
                height: 55vw;
                margin-bottom: 5px;

                @include desktop {
                    height: 55vh;
                    margin: 0;
                }
            }

            /* MODAL TEXT */
            .caption { 
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                height: fit-content;
                max-height: 45vh;
                max-width: 80vw;
                overflow-y: auto;

                @include desktop(medium) {
                    justify-content: center;
                    max-height: 60vh;
                    margin-left: 2em;
                    max-width: 450px;
                }

                h2, h3, h4, p {
                    // display: block;
                    margin: 6px 0px 6px;
                	text-align: left;
                	color: $ink;
                }

                .modal__subtitle {
                    font-weight: 200;
                }

                .modal__author {
                    font-weight: 400;
                }
                
                .grade {
                    // opacity: 0.6;
                }

                .modal__genre {
                    font-style: italic;
                    color: $ink--dry;
                }
             
                .modal__quote {
                    font-style: italic;
                    color: $ink--dry;
                }
            }
        }
    }
}
