@use '../base/var' as *;

@mixin neumorph {
    padding: 10px;
    box-shadow: 1px 4px 5px $primary-light, -1px -3px 5px $paper--light;
    // box-shadow: 0px 3px 2px $primary-light;
    border: none;
    border-radius: $border-radius;
    transition: $transition;
}

@mixin neumorph-hover {
    padding: 10px;
    // box-shadow: 2px 2px 4px $paper--shadow, -2px -2px 4px $paper--light;
    box-shadow: 0px 3px 2px $paper--dark;
    border-radius: $border-radius;
    transition: $transition;
}

@mixin neumorph-active {
    box-shadow: inset 1px 1px 3px $paper--shadow, inset -1px -1px 3px $paper--light;
    border-radius: $border-radius;
    transition: $transition;
}
