@use './var' as *;
@use 'abstracts/media';

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@0,200..900;1,200..900&display=swap');

body {
  margin: 0px;
  font-family: 'Libre Baskerville', serif;
  font-size: 1em;
  font-weight: 400;
  color: $ink;
  background-color: $paper;
}

input, select {
  font-family: 'Libre Baskerville', serif;
  font-size: 1em;
}

h1 {
  margin: 0px auto;
  font-size: 5em;
  font-weight: 500;
  text-align: center;

  @include media.desktop {
    font-size: 7em;
  }
}