$ink: #444;
$ink--dry: #444444bb;
$ink--white: #eee;

$paper: #fcfaf4;
$paper--light: #f5f3ef;
$paper--dark: #faf6eb;
$paper--darker: #d7cec1;
$paper--shadow: #8c755a;
$primary: #ed4a49;
$primary-light: #f9c9b9;

$border-radius: 3px;
$transition: .25s ease;