$ink: #333;
$ink--dry: #333b;
$ink--white: #eee;

$paper: #ece7e1;
$paper--light: #f5f3ef;
$paper--dark: #e1dad0;
$paper--darker: #d7cec1;
$paper--shadow: #8c755a;
$book: #26734d;

$border-radius: 3px;
$transition: .25s ease;